*{
    margin: 0;
    padding: 0;

}


div nav  {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 38px;
    font-size: 17px;
    color: rgb(7, 50, 76);
    background-color: rgb(182, 182, 182);
}

a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 112px;
    margin-left: 3px;
    border-left: solid 2px black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}



a:hover {
    background-color: rgb(146, 37, 0);
    color: white;
}


.central {
    height: 565px;
    padding: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
}

.central h1 {
    text-align: center;
    font-size: 70px;
}

.central iframe {
    margin-top: 17px;
}

.central div:first-child {
    margin-top: 36px;
}

.text-initial {
    color: black;
    text-align: center;
    padding: 103px;
    font-size: 21px;
}

.middle-main {
    display: flex;
}

.container-one {
    background-color: rgb(60, 98, 75);
    color: white;
    padding: 50px;

}

.container-one p {
    margin-left: 50px;
}
