*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

#logo {
    width: 200px;
    background-color: rgb(216, 216, 216);
    border-radius: 43px;
    margin-left: 80px;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 40%;
}

#nav-link {
    background-color: #8d8d8d;
}

div nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px;
    font-size: 17px;
    color: rgb(7, 50, 76);
    background-color: #8d8d8d;
}


a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 140px;
    margin-left: 3px;
    border-left: solid 5px #52c270;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}



a:hover {
    background-color: #ec1313;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    padding: 10px 170px;
    margin-bottom: 40px;
    text-transform: uppercase;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central {
    height: 100vh;
    width: 1077px;
    padding: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
}

#title {
    text-align: center;
    font-size: 70px;
}

.central iframe {
    margin-top: 17px;
}

.central div:first-child {
    margin-top: 36px;
}

.text-initial {
    color: black;
    text-align: center;
    padding: 103px;
    font-size: 21px;
}

.middle-main {
    display: flex;
}

.container-one {
    background-color: rgb(60, 98, 75);
    color: white;
    padding: 50px;

}

.container-one p {
    margin-left: 50px;
    background-color: #3c624b;
}

.img-multi {
    display: flex;
    margin-bottom: 20px;
}

.row-img {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 3px;
}


.img-galery {
    width: 50%;
    
}

#tribute-info {
    margin-bottom: 60px;
    padding: 30px;

}

#tribute-info p {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 19px;
    padding: 8px 170px;
    word-spacing: 5px;
    line-height: 35px;
}

.div-img-cover {
    width: 100%;
    margin-bottom: 117px;
}

.div-img-cover img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 -18px;
}

.life {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    word-spacing: 5px;
    line-height: 35px;
    margin-bottom: 150px;
}

.life ul {
    margin: 10px 50px;
    padding: 0 100px;
}

.life ul li {
    margin-bottom: 10px;
}

.life h2 {
    padding: 0 130px;
    font-size: 35px;
}

.section-mma {
    display: flex;
    width: 100%;
}

.section-mma img {
    width: 50%;
    height: 400px;
    object-fit: contain;
    object-position: 0 -18px;
}

.section-mma h2 {
    padding: 0 50px;
    font-size: 87px;
    font-weight: 900;
    width: 50%;
    line-height: 87px;
}


#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;

}

#image {
    width: 50%;
    /* height: 308px; */
    border-radius: 21px;
    margin-bottom: 10px;
    filter: grayscale(100%);
}

#img-caption {
    padding: 10px 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}


.container-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    margin-top: 30px;

}

#more-info {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
}

#more-info:last-child {
    justify-content: flex-end;
}

